body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#map {
  height: 80vh;
}

#btn_container {
  display: flex;
  justify-content: center;
  height: 5vvh;
}

#busStop_search {
  padding: 0px 10px;
}

#busStop_input {
  height: 27%;
}

#mrt_search,
#busStop_search {
  margin-top: 2px;
}

#mrt_search {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
  border-radius: 5px;
  padding: 0px 10px;
}

#mrt_search:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

#search_container {
  display: flex;
  align-content: center;
  text-align: left;
  height: 12vh;
}

#time {
  padding: 16px;
  background-color: lightsalmon;
}

#busStop_container,
#train_container {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 4px;
}

.offcanvas-header {
  background-color: gray;
}

#mrt_btn,
#busStop_btn,
#incident_btn {
  margin: 2px;
  border-radius: 5px;
}

#erp_link {
  text-align: center;
}
